<head></head>

<body>
  <h2>Welcome to the movie trivia site!</h2>
  <form action="/search" method="post">
      Search Here: <br>
      <input type="text" name='movie' value='' placeholder="Enter your search here"> <br>
      <button type='submit' name='movie_search' value="movie_search">
        Click here to submit the search!
      </button>
    </form>


</body>
