<head></head>

<body>
  <h1>Login Page</h1>
  <br>
  <form action="/login" method="post">
    <label for="user_name"> User Name: </label>
    <input type="text" name="user_name" id="user_name" placeholder="Username">

    <label for="password">Password: </label>
    <input type="text" name="password" id="password" placeholder="Password">

    <button type="submit" name="submit_login" value="submit_login">Login</button>
  </form>

</body>
