<form action="/search" method='post'>
  Movie name:<br>
  <input type="text" name="movie"><br/>
  <input type="submit" value="Submit">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
