<<h1>Hi there!</h1>
<p>This <% @name %>'s website</p>
<p> this is my website!</p>
<img src="placecage.com/c/200/300">

<br>

Today is <%= Date.today %>

<% if Date.today.tuesday? %>
<p>Today is tuesday</p>
<% else %>
<p>Today is not tuesday!</p>
<% end %>
