<head>
  <link rel="stylesheet" type="text/css" href="about.css">
</head>

<h1>Hi there!</h1>
<p>This is <%= @name %>'s website</p>
<img src="/img.png"></img>

<br>

<p>Today is <%= Date.today %></p>

<% if Date.today.tuesday? %>
<p>Today is Tuesday</p>
<% else %>
<p>Today is not Tuesday!</p>
<% end %>
