body {
  background-color: lightblue;
}


.potato {
  background-color: #800080;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: white;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  margin
}





