<!DOCTYPE html>
<html>
    <head>
        <title>Subtract | Online Calculator</title>
    </head>
    <body>
        <h1>Subtract</h1>
        <form action="/calculate_subtract" method="POST">
            <label for="First_Num">First Number:</label>
            <input type="number" name="first_number" id="First_Num" placeholder="Enter first number here"> -
            <label for="Second_Num">Second Number:</label>
            <input type="number" name="second_number" id="Second_Num" placeholder="Enter second number here">
            <button type="submit">Calculate</button>
        </form>
    </body>
</html>
